# Git
.git/
.github/
.gitignore

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/

# Node.js
node_modules/
npm-debug.log*

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db